/**
 * © 2023 Michael Gamlem III. All Rights Reserved.
 * @format
 */

main .experience {
	display: flex;
	flex-direction: column;
}
.section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 95vh;
	position: relative;
	width: 100%;
}

.background-image {
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	transform: translateZ(1px) scale(1.1);
}

.experience .color-overlay {
	position: absolute;
	background-color: #007be0;
	filter: opacity(0.7);
	width: 100%;
	height: 100%;
}

/* .backgroundBox {
		@include variables.background-box();
	} */

.work {
	/* @include section; */
	height: fit-content;
}
/* @include mediaQueries.phone() {
			min-height: 700px;
		} */

.work .flatiron {
	/* Patrick Fore / Faithlife Corporation, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons */
	background-image: image-set(
		url("./images/others/bellingham-flatiron-building/BellinghamFlatironBuilding.webp")
			1x,
		url("./images/others/bellingham-flatiron-building/BellinghamFlatironBuilding.jpg")
			1x
	);
	background-image: -webkit-image-set(
		url("./images/others/bellingham-flatiron-building/BellinghamFlatironBuilding.webp")
			1x,
		url("./images/others/bellingham-flatiron-building/BellinghamFlatironBuilding.jpg")
			1x
	);
}

.experience .work .content {
	margin: 0 10%;
	z-index: 10;
}
.experience .work .content .text-container {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	justify-content: center;

	/* @include mediaQueries.tablet() {
					flex-direction: column;
				} */
}

.experience .work .content .text-container .product-container {
	margin-bottom: 5%;

	/* @include mediaQueries.tablet() {
					margin-bottom: 0;
				} */
}

/* .technologiesContainer {
				margin-left: 5%;

				@include mediaQueries.tablet() {
					margin-left: 0;
					margin-bottom: 12px;
				}
			} */

/* .backgroundBox {
				@include variables.background-box();
			} */

/* h2 {
				margin-bottom: 0;
				text-align: left;
			} */

.product-container .subhead {
	/* font-family: variables.$theme-font-body; */
	font-style: italic;
	text-align: left;
	margin: 0 0 0 10px;
}

.product-container .product-section {
	margin-left: 10px;
}
.product-container .product-section .product-head {
	margin: 10px 0 0 0;
}

.product-container .product-section .product-list-container {
	display: flex;
	flex-wrap: wrap;

	/* @include mediaQueries.phone() {
						margin-bottom: 5%;
					} */
}
.product-container .product-list-container ul.product-list li {
	margin: 8px 0;

	/* @include mediaQueries.phone() {
							margin: 0;
							min-width: 26vw;
						} */
}

.product-container .product-list-container ul.product-list li a.product-link {
	text-decoration: underline;
	margin-bottom: 8px;
}

.slideshow-container {
	display: flex;
	justify-content: center;
	width: 90vw;
	margin-bottom: 22px;
}
.experience .content .technologies-container {
	margin-left: 5%;

	/* @include mediaQueries.tablet() {
					margin-left: 0;
					margin-bottom: 12px;
				} */
}

.education {
	/* @include section;
		height: 75vh;

		@include mediaQueries.phone() {
			min-height: 500px;
		} */
}
.background-image.loop {
	background-image: image-set(
		url("./images/mine/wu-loop/wu-loop.webp") 1x,
		url("./images/mine/wu-loop/wu-loop.jpg") 1x
	);
	background-image: -webkit-image-set(
		url("./images/mine/wu-loop/wu-loop.webp") 1x,
		url("./images/mine/wu-loop/wu-loop.jpg") 1x
	);

	/* @include mediaQueries.phone() {
				background-position-y: 30px;
			} */
}

.education .content {
	margin: 5% 0 0 10%;
	z-index: 10;
}
.education .content h2 {
	margin-bottom: 0;
}

.education .content li {
	margin: 6px 0 6px 0;
}

.education .content div.backgroundBox {
	padding: 10px 16px 10px 16px;
	margin-left: 10px;

	/* @include mediaQueries.phone() {
					margin-right: 10px;
				} */
}

.education .content .education-content {
	margin: 0 5%;
	min-width: 60vw;
}
