/**
 * © 2023 Michael Gamlem III. All Rights Reserved.
 * @format
 */

.privacy {
	margin: 0 4%;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 10px;
}

.privacy h1 {
	font-size: 50px;
	align-self: center;
}

.privacy h1,
.privacy h2,
.privacy h4,
.privacy h5,
.privacy p,
.privacy li {
	text-align: start;
	color: #000000;
}

main a {
	color: #008cff;
}

.cc-disclaimer {
	font-style: italic;
}
