/**
 * © 2024 Michael Gamlem III. All Rights Reserved.
 * @format
 */

.terms {
	margin: 0 4%;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 10px;
}

.terms h1 {
	font-weight: bold;
	font-style: italic;
	align-self: center;
}

.terms h1,
.terms h2,
.terms h4 {
	text-align: left;
	color: #000000;
}

.terms h4 {
	font-size: medium;
}

.terms p,
.terms ul,
.terms li {
	text-align: left;
	color: #000000;
}

.terms .bold {
	font-weight: bold;
}

.terms a {
	color: #008cff;
	text-decoration: underline;
}
