/**
 * © 2023 Michael Gamlem III. All Rights Reserved.
 * @format
 */

.terms {
	margin: 0 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.terms h1 {
	font-weight: bold;
	font-style: italic;
}

.terms h1,
.terms h2 {
	text-align: center;
	color: #000000;
}

.terms p,
.terms ul,
.terms li {
	text-align: left;
	color: #000000;
}

.terms .bold {
	font-weight: bold;
}

main a {
	color: #008cff;
}
